$black: #000000;
$grey: #16181c;
$dark-grey: grey;
$light-grey: #202327;
$skyBlue: #1d9bf0;
$white: #d6d9db;
$light-red: rgba(255, 0, 0, 0.373);
$red: rgb(255, 0, 0);
$font: Arial, Helvetica, sans-serif;
