@import '../../global/variables.scss';

.tweet {
	padding: 0.5rem 1.2rem;
	border: 1px solid $light-grey;
	min-height: 120px;
	cursor: pointer;

	&:hover {
		background-color: $light-grey;
	}

	.tweetUser {
		font-family: $font;
		display: flex;
		width: 100%;
		align-items: center;
		gap: 0.5rem;
		justify-content: left;

		.tweetUserPicture {
			height: 50px;
			width: 50px;
			border-radius: 50px;
		}

		.tweetUserData {
			display: flex;
			align-items: center;
			gap: 0.6rem;

			.tweetName {
				font-weight: bold;
				color: $white;
				.verifiedIcon {
					margin-left: 0.4rem;
					color: $skyBlue;
				}
			}

			.tweetUsername {
				display: flex;
				align-items: center;
				gap: 0.3rem;
				font-weight: normal;
				color: $dark-grey;
			}
		}
	}

	.tweetContent {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.tweetText {
			padding: 0.8rem 0.2rem;
			font-size: 1.2rem;
			color: $white;
			font-family: $font;
		}

		.tweetImage {
			height: 30%;
			width: 60%;
			border-radius: 25px;
			align-self: center;
		}
	}

	.tweetControllers {
		margin: 0.6rem;
		height: 2rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.controller {
			width: 15%;
			border-radius: 25px;
			padding: 0.5rem;
			gap: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;

			.icon {
				width: 20px;
				height: 20px;
				fill: $dark-grey;
				background-color: transparent;
				color: $dark-grey;
			}

			.count {
				color: $dark-grey;
				background-color: transparent;
				font-family: $font;
			}
		}

		.answer:hover {
			* {
				color: $skyBlue;
				fill: $skyBlue;
			}
		}

		@mixin retweetActive {
			.icon,
			.count {
				color: lightgreen;
				fill: lightgreen;
			}
		}

		@mixin favouriteActive {
			.icon,
			.count {
				color: gold;
				fill: gold;
			}
		}

		.retweetActive {
			@include retweetActive;

			&:hover {
				opacity: 0.6;
			}
		}

		.retweet:hover {
			@include retweetActive;
		}

		.favouriteActive {
			@include favouriteActive;

			&:hover {
				opacity: 0.6;
			}
		}

		.favourite:hover {
			@include favouriteActive;
		}

		.views:hover {
			* {
				color: rgb(235, 110, 131);
				fill: rgb(235, 110, 131);
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.tweetUsername {
		font-size: 0.9rem;
	}
}
